@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/images/logo.png" />
    <p class="lead">ExpandIT is a rapidly growing mobile software company with offices in Denmark, Spain, Canada, United States, and Germany. ExpandIT develops amazing mobile and e-commerce products that help businesses engage their customers and their own mobile workforce. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mobile Sales</h2>
        <p>
            ExpandIT Mobile Sales is designed for distribution companies with travelling sales representatives.<br />
            If you struggle to update available items lists, catalogues, prices, alternative items, delivery dates and addresses then you should contact sales@expandit.com.
        </p>
        <p><a class="btn btn-default" href="http://www.expandit.com/625/ExpandIT+Mobile+Sales">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mobile Service</h2>
        <p>
            ExpandIT Service Management is tightly integrated with Dynamics AX/NAV but also with market leading vertical solutions such as Dynamic Software and DAXeam.<br />
            It gives you interactive planning and a fully automated process from AX/NAV to the field and back. 
        </p>
        <p><a class="btn btn-default" href="http://www.expandit.com/626/ExpandIT+Mobile+Service">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Service Portal</h2>
        <p>
            ExpandIT Service Portal enables your customers to create service requests which are subsequently planned alongside the other jobs in ExpandIT Planning Board.<br />
            A log of the communication related to the service item gives the perfect platform for customer-vendor partnering.
        </p>
        <p><a class="btn btn-default" href="http://www.expandit.com/612/ExpandIT+Internet">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>B2B eCommerce</h2>
        <p>
            ExpandIT Internet Shop is designed for distribution companies with customer specific items and prices; multiple currencies; invoice - and line-discounts, multiple departments but wanting one content management system (CMS).
        </p>
        <p><a class="btn btn-default" href="http://www.expandit.com/622/ExpandIT+Internet+Shop">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>NAV System Management</h2>
        <p>
            Schedule NAV backup (from v. 1.10).<br />
            Schedule NAV activities/batch jobs (from v. 2.0).<br />
            Log out inactive NAV users (from v. 1.10).<br />
            Send full body emails (from v. 1.10)<br />
            <br />
            Support for NAV 2015<br />
        </p>
        <p><a class="btn btn-default" href="http://www.expandit.com/610/Utilities">Learn more &raquo;</a></p>
    </div>
</div>